<div class="sidebar">
  <%= link_to 'New Idea', new_event_idea_path, class: 'button' %>

  <p>Submit your ideas for <%= event.title %> here so attendees can begin thinking and planning for them. Other's will vote and review the ideas to help get the best ones.</p>
</div>
