<div class="container">
  <div class="two">
    <h2 class="secondary-heading">Edit Your Idea</h2>
    <%= render :partial => 'form', :locals => { :idea => idea } %>
  </div>
  <div class="one last">
    <%= render :partial => 'what_to_submit' %>

    <%= link_to 'Delete Permanently', event_idea_url(event, idea), :method => :delete, :class => "button alert bold", :confirm => "Are you sure you want to delete this idea?" %>
  </div>
</div>
