<li class="event">
  <div class="info">
    <div class="idea-title tertiary-heading">
      <%= link_to event.title, event_ideas_path(event) %> &mdash;
      <%= event.date.strftime('%B %d, %Y') %>
    </div>
    
    <div class="event-description">
      <%= raw(Kramdown::Document.new(event.description, input: 'markdown').to_html) %>
    </div>

    <div class="details">
    </div>
  </div>
</li>
