<li class="event">
  <div class="info right">
    <div class="idea-title tertiary-heading"><%= link_to event.title, event_ideas_path(event) %></div>
    <div class="idea-description"><%= truncate(event.description, length: 150) %></div>
    <div class="details">
      <div class="published"><%= event.date.strftime('%B %d, %Y') %></div>
    </div>
  </div>
</li>
