<div class="container">
  <div class="two">
    <h2 class="secondary-heading">Events</h2>
    <ul>
      <%= render partial: 'event', collection: events %>
    </ul>
  </div>
  <div class="one last">
    <%= render 'sidebar' %>
  </div>
</div>
